#headerPic {
    margin-top: 30px;
    margin-bottom: 40px;
}

.head-pic {
    object-fit: cover;
    object-position: center 30%;
    max-height: 520px;
    height: 30em;
}

.carousel-caption {
    text-shadow: #111 0 0 5px;
}