#headerpicture>div>a {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1200px) {
    #headerpicture>div>a>img {
        object-fit: cover;
        object-position: center 30%;
        max-height: 520px;
        height: 420px;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #headerpicture>div>a>img {
        object-fit: cover;
        object-position: center 30%;
        max-height: 520px;
        height: 370px;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #headerpicture>div>a>img {
        object-fit: cover;
        object-position: center 30%;
        max-height: 520px;
        height: 350px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #headerpicture>div>a>img {
        object-fit: cover;
        object-position: center 30%;
        max-height: 520px;
        height: 280px;
    }
}

@media only screen and (max-width: 575px) {
    #headerpicture>div>a>img {
        object-fit: cover;
        object-position: center 30%;
        max-height: 520px;
        height: 220px;
    }
}


.carousel-caption {
    text-shadow: #000 0 0 4px;
}